.content {
  display: flex;
  flex-direction: column;
  color: black;

  .header,
  .footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50px;
    padding: 10px;
    text-align: center;
  }

  .middle {
    flex: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .left,
    .right {
      flex: 1;
      padding: 0 20px;
      background-color: white;
    }
  }
}
